body {
  background-color: rgb(197, 200, 160);
}
.container {
  width: 617px;
  margin-top: 10px;
  background-image: url(img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 518px;
}
.col-2 {
  visibility: hidden;
  border-radius: 0% 100% 35% 65% / 16% 62% 38% 84%;
  height: 105px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-top: 35px;
  color: white;
}

.Down {
  margin: 0;
}

.message,
.ComputerNum,
.YourNum {
  padding-top: 20px;
  font-family: cursive;
  font-weight: 700;
}

button {
  --glow-color: rgb(209, 157, 167);
  --glow-spread-color: crimson;
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: crimson;
  border: 0.25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
}

button::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

button:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}

button:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}
